In [1]:
! pip install pandas
! pip install requests

Requirement already satisfied: pandas in c:\users\max\mambaforge\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\max\mambaforge\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\max\mambaforge\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\max\mambaforge\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\max\mambaforge\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\max\mambaforge\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: requests in c:\users\max\mambaforge\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\max\mambaforge\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\max\mambaforge\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\max\mambaforge\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\max\mambaforge\lib\site-packages (from requests) (2024.2.2)

In [3]:
# Leer el archivo CSV con pandas para mostrar los primeros registros y verificar que se guardaron correctamente

import pandas as pd

df = pd.read_csv('../data/all_jobs_data.csv')
df.head()

,category,seniority,min_salary,max_salary,id,modality,remote,remote_modality,remote_zone,published_at,application_deadline,experience,skills,benefits,company_name,company_country,company_id,company_description
0,Programming,"{'data': {'id': 3, 'type': 'seniority'}}",2400.0,4000.0,programador-biometria-aplicada-santiago,"{'data': {'id': 1, 'type': 'modality'}}",False,no_remote,NaN,1716506997,NaN,NaN,NaN,<p>Somos una empresa con muy buen ambiente de ...,Biometria Aplicada,CL,biometria-aplicada,Somos una empresa sólida con más de 12 años de...
1,Programming,"{'data': {'id': 3, 'type': 'seniority'}}",NaN,NaN,tech-lead-arkho-santiago-70da,"{'data': {'id': 1, 'type': 'modality'}}",True,fully_remote,Santiago Metropolitan,1716436734,NaN,NaN,NaN,<ul><li>Día administrativo semestral hasta los...,ARKHO,CL,arkhotech,Somos una consultora experta en tecnologías de...
2,Programming,"{'data': {'id': 4, 'type': 'seniority'}}",NaN,NaN,desarrollador-a-backend-springboot-empresas-sb...,"{'data': {'id': 1, 'type': 'modality'}}",False,hybrid,NaN,1716413884,NaN,NaN,NaN,NaN,Empresas SB,CL,empresas-sb,Tendrás grandes desafíos y nuestro respaldo.\r...
3,Programming,"{'data': {'id': 4, 'type': 'seniority'}}",NaN,NaN,desarrollador-a-ruby-on-rails-empresas-sb-sant...,"{'data': {'id': 1, 'type': 'modality'}}",False,hybrid,NaN,1716229366,NaN,NaN,NaN,NaN,Empresas SB,CL,empresas-sb,Tendrás grandes desafíos y nuestro respaldo.\r...
4,Programming,"{'data': {'id': 4, 'type': 'seniority'}}",NaN,NaN,arquitecto-java-bilingue-kibernum-bogota,"{'data': {'id': 1, 'type': 'modality'}}",True,remote_local,NaN,1715899810,NaN,NaN,NaN,<ul><li>Tipo de Trabajo: Remoto </li><li>Tipo ...,Kibernum,CL,kibernum,Impulsamos la evolución digital de nuestro ent...

In [2]:
# Extraer todos los tipos de categorías del csv y los muestra con su cantidad

import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('../data/all_jobs_data.csv')

# Extraer las categorías únicas
unique_categories = df['category'].unique()

# Ordenar las categorías
unique_categories = sorted(unique_categories)

# Imprimir las categorías únicas
for category in unique_categories:
    print(category)

print(f"\nTotal de categorías únicas: {len(unique_categories)}")

Content, Advertising & Media
Customer Support
Cybersecurity
Data Science / Analytics
Design / UX
Digital Marketing
Education & Coaching
Hardware / Electronics
Machine Learning & AI
Mobile Development
Operations / Admin
Other categories
People & HR
Product, Innovation & Agile
Programming
Sales
SysAdmin / DevOps / QA
Technical Support

Total de categorías únicas: 18

In [3]:
# Extraer todos todas las ofertas por categoría y muestra cuantas ofertas hay por categoría, el total, 
# y la categoría con más ofertas y la categoría con menos ofertas

import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('../data/all_jobs_data.csv')

# Contar el número de ofertas por categoría
job_counts = df['category'].value_counts()

# Categoría con más ofertas de trabajo
most_jobs_category = job_counts.idxmax()
most_jobs_count = job_counts.max()

# Categoría con menos ofertas de trabajo
least_jobs_category = job_counts.idxmin()
least_jobs_count = job_counts.min()

# Mostrar el número de ofertas por categoría
print(job_counts)

# Mostrar la categoría con más ofertas de trabajo
print(f"\nLa categoría con más ofertas de trabajo es '{most_jobs_category}' con {most_jobs_count} ofertas.")

# Mostrar la categoría con menos ofertas de trabajo
print(f"La categoría con menos ofertas de trabajo es '{least_jobs_category}' con {least_jobs_count} ofertas.")

# Calcular y mostrar el total de ofertas de trabajo
total_job_offers = job_counts.sum()
print(f"\nTotal de ofertas de trabajo: {total_job_offers}")

category
Programming                     362
SysAdmin / DevOps / QA          137
Sales                            62
Data Science / Analytics         60
Operations / Admin               51
Product, Innovation & Agile      50
Mobile Development               38
Design / UX                      35
Digital Marketing                35
Customer Support                 33
Cybersecurity                    20
Technical Support                12
Machine Learning & AI            12
Content, Advertising & Media     11
People & HR                      10
Other categories                  9
Hardware / Electronics            5
Education & Coaching              2
Name: count, dtype: int64

La categoría con más ofertas de trabajo es 'Programming' con 362 ofertas.
La categoría con menos ofertas de trabajo es 'Education & Coaching' con 2 ofertas.

Total de ofertas de trabajo: 944

In [18]:
#  Calcular el salario promedio, mínimo y máximo por categoría y mostrarlo

import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('../data/all_jobs_data.csv')

# Eliminar filas con valores nulos en 'min_salary' y 'max_salary'
df = df.dropna(subset=['min_salary', 'max_salary'])

# Calcular el salario promedio
df['average_salary'] = (df['min_salary'] + df['max_salary']) / 2

# Agrupar por categoría y calcular el salario promedio, mínimo y máximo
salary_stats_by_category = df.groupby('category').agg({
    'min_salary': 'mean',
    'max_salary': 'mean',
    'average_salary': 'mean'
}).reset_index()

# Renombrar las columnas para mayor claridad
salary_stats_by_category.columns = ['category', 'average_min_salary', 'average_max_salary', 'average_salary']

# Mostrar los resultados
print(salary_stats_by_category.to_string(index=False))

                    category  average_min_salary  average_max_salary  average_salary
Content, Advertising & Media         1125.000000         1300.000000     1212.500000
            Customer Support         1304.166667         1700.000000     1502.083333
               Cybersecurity         2109.090909         2627.272727     2368.181818
    Data Science / Analytics         1879.166667         2525.000000     2202.083333
                 Design / UX         1612.500000         2025.000000     1818.750000
           Digital Marketing         1603.571429         2039.285714     1821.428571
      Hardware / Electronics         1483.333333         1666.666667     1575.000000
       Machine Learning & AI         2750.000000         3887.500000     3318.750000
          Mobile Development         2147.222222         2838.888889     2493.055556
          Operations / Admin         1343.750000         1690.625000     1517.187500
            Other categories         1250.000000         1612.500000     1431.250000
 Product, Innovation & Agile         2000.000000         2688.235294     2344.117647
                 Programming         2280.368098         3020.245399     2650.306748
                       Sales         1468.000000         2002.000000     1735.000000
      SysAdmin / DevOps / QA         1880.909091         2475.454545     2178.181818
           Technical Support         1250.000000         1875.000000     1562.500000

In [14]:
# Calcular el salario promedio por categoría y mostrar la categoría con el salario promedio más alto

import pandas as pd

df = pd.read_csv('../data/all_jobs_data.csv')

df = df.dropna(subset=['min_salary', 'max_salary'])

df['average_salary'] = (df['min_salary'] + df['max_salary']) / 2

average_salary_by_category = df.groupby('category')['average_salary'].mean()

highest_avg_salary_category = average_salary_by_category.idxmax()
highest_avg_salary = average_salary_by_category.max()

print(f"La categoría con el promedio de pago más alto es '{highest_avg_salary_category}' con un salario promedio de {highest_avg_salary}.")

La categoría con el promedio de pago más alto es 'Machine Learning & AI' con un salario promedio de 3318.75.